.center{
    margin-left: auto;
    margin-right: auto;
}

.cell{
    font-size: xx-large; /*zmien pozniej na 0px */
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
    width: 75px;
    border: solid black;
    text-align: center;
}
